// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tag_cloud {
  width: 400px;
  text-align: center;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

#header {
  color: #563D7C;
}

.post-title {
  font-size: 1.8em;
}

.page {
  display: flex;
  flex-direction: column;
}

.post-card {
  height: auto;
  // max-height: auto; max heigh to be determined
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  background-color: #C2DBC1;
  background-position: center;
  color: white;
  position: relative;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-right: 8px;
  padding-left: 8px;
}

.read-more {

}

.tag-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.body {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  aside {
    flex: 0 0 8rem;
    order: 0;
  }

  main{
    flex: 1 0 auto;
    order: 1;
  }

  nav {
    flex: 0 0 8rem;
    order: 2;
  }

}



