// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#tag_cloud {
  width: 400px;
  text-align: center;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

#header {
  color: #563D7C;
}

.post-title {
  font-size: 1.8em;
}

.page {
  display: flex;
  flex-direction: column;
}

.body {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  aside {
    flex: 0 0 8rem;
    order: 0;
  }

  main{
    flex: 1 0 auto;
    order: 1;
  }

  nav {
    flex: 0 0 8rem;
    order: 2;
  }

}



